.blog-entry {
    background-color: var(--cur-accent);
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    padding: 1px;

}