:root {


    /* COLORS */
    /*Light mode colors */
    --light-background: #7C9DB1;
    --light-accent: #486E86;
    --light-text: #0A2333;
    /* Dark Mode colors  */
    --dark-background: #0A2333;
    --dark-accent: #22465C;
    --dark-text: #7C9DB1;


    /* current colors */
    --cur-background: var(--light-background);
    --cur-text: var(--light-text);
    --cur-accent: var(--light-accent);


    /* Text related */
    --nav-font: Tahoma;
    --header-font: Tahoma;
    --main-font: Arial;

    /* Other */
}

.dark-mode {
    --cur-background: var(--dark-background);
    --cur-text: var(--dark-text);
    --cur-accent: var(--dark-accent);
}

body {
    background-color: var(--cur-background);
    color: var(--cur-text);

    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

.main-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.box {
    border-radius: 5px;
}

a {
    text-decoration: none;
}

/* Nav stuff */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: var(--cur-accent);
    display: flex;
    overflow: hidden;
    /* flex-direction: row;
    align-items: flex-start;
    justify-content: left; */

    width: 100%;
    height: 50px;
    z-index: 2;
    border: 3px solid black;
}

.nav-element {
    height: 100%;
    border: 1px solid black;
    z-index: 3;

}

.nav-other {
    width: 100px;
}

.navbar-settings {
    width: 200px;
}

.nav-element:hover {
    background-color: red;
}

.logo {
    background-color: var(--cur-accent);
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-element>p {
    color: var(--cur-text);
    font-family: var(--nav-font);
    text-align: center;
    text-decoration: none;
}


/* Holds links to github, email */
.footer-links {
    width: 50%;
    background-color: black;
    height: 30px;
    margin: auto;

    position: sticky;
    top: 300px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}