.featured {
    background-color: var(--cur-accent);
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.featured-cell {
    width: 50%;
    height: 100%;
    border: 1px solid white;
    margin: 0;
    background-color: var(--cur-accent);
}