/* Stylesheet created by Caleb Short */

/* TODO:
    alternative coloring for light mode
*/

/* variables declaration */
:root {
    /* primary background for page */
    --main-background: #879ea3;

    /* other colors */

    /* fonts */
    --heading-font: "Georgia", sans-serif;
    --heading-color: #000000;

    --main-font: "Verdana", sans-serif;
    --main-text-color: #000000;

    --font-base-size: 16px;
    --font-bold-weight: 700;

    /* container coloration */
    --container-background: #2f418f;
    --sub-container-background: #3b5fa1;


    /* nav-area stuff */
    --navarea-height: 4em;

    /* setting root values */
    font-size: var(--font-base-size);
    background-color: var(--main-background);


}

/* Apply box-sizing to all elements for consistent box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* 
Size reference:
h1: 2em 
h2: 1.5em 
h3: 1.17em 
h4: 1em 
h5: 0.83em 
h6: 0.67em

HEADER SETTINGS
*/
h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
    margin-bottom: 0.25em;
    color: var(--heading-color);
}

p,
span {
    font-family: var(--main-font);
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: var(--main-text-color);
}

.signature {
    font-family: 'Brush Script MT',
        cursive;
    font-size: 1.5em;
}



/* primary container */
.container {
    background-color: var(--container-background);
    border-radius: 1em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* div stuff! */
.main-content {
    max-width: 1200px;
    margin: auto;

}

/* intended for containers within containers */
.sub-container {
    background-color: var(--sub-container-background);
    border-radius: 1em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}


/* make any container invisible */
.invisible {
    background-color: transparent;
    border: none;
}

.invisible-with-border {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 1em;
}

/* make a container use a row display instead of column */
.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* navigation items */
#nav-row {
    padding: 0;
    width: 100%;
    margin-bottom: 5px;
}

#logo {
    width: var(--navarea-height);
    height: var(--navarea-height);

}

#nav-area {
    flex-grow: 1;
    height: var(--navarea-height);

}

#darkmode {
    height: var(--navarea-height);
    width: var(--navarea-height);

}